<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NovaCore AI</title>
    <meta name="google-site-verification"content"2cfd4726da021a26"/>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        ...
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="theme-color" content="#2563eb">
    <link rel="icon" href="{{ url_for('static', filename='assets/icons/novacore_icon.png') }}">
    
</head>


<body>

<header class="top-bar">

    <button id="menu-btn" onclick="toggleMenu()">
        ☰
    </button>

    <div class="logo">
        <img src="{{ url_for('static', filename='assets/logos/novacore_logo.png') }}" alt="NovaCore Logo">
        <span>NovaCore AI</span>
    </div>

</header>

<div id="sidebar" class="sidebar">

    <button class="new-chat">+ New Chat</button>

    <a href="#">💬 Chat History</a>

    <a href="#">🧠 Memory</a>

    <a href="#">📁 Files</a>

    <a href="#">🌐 Browser</a>

    <a href="#">🎤 Voice</a>

    <a href="#">⚙ Settings</a>

    <a href="#">👤 Profile</a>

    <a href="#">ℹ About</a>

</div>

</div>

<!-- Main Area -->
<div class="main">

    <!-- Header -->
    <div class="header">

        <h2>NovaCore AI</h2>

        <div class="profile">
            👤
        </div>

    </div>

    <!-- Chat -->
    <div id="chat-box">

        <div class="bot-message">
            👋 Welcome to NovaCore AI.
            <br><br>
            Ask me anything...
        </div>

    </div>

    <!-- Input -->
    <div class="input-area">

        <button id="voice-btn">
            🎤
        </button>

        <input
            id="user-input"
            type="text"
            placeholder="Message NovaCore..."
        >

        <button id="upload-btn">
            📎
        </button>

        <button
            id="send-btn"
            onclick="sendMessage()"
        >
            ➤
        </button>

    </div>

</div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>
