<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NovaCore AI</title>
    meta name="google-site-verification"content"2cfd4726da021a26"/>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<img src="{{url_for("static",filename="assest/logos/novacore_logo.png")}}"alt'NovaCore Logo">

<body>

<!-- Sidebar -->
<div class="sidebar">

    <div class="logo">
        🤖 NovaCore
    </div>

    <button class="new-chat">
        + New Chat
    </button>

    <div class="menu">
        <a href="#">💬 Chats</a>
        <a href="#">🧠 Memory</a>
        <a href="#">📂 Files</a>
        <a href="#">⚙ Settings</a>
        <a href="#">ℹ About</a>
    </div>

</div>

<!-- Main Area -->
<div class="main">

    <!-- Header -->
    <div class="header">

        <h2>NovaCore AI</h2>

        <div class="profile">
            👤
        </div>

    </div>

    <!-- Chat -->
    <div id="chat-box">

        <div class="bot-message">
            👋 Welcome to NovaCore AI.
            <br><br>
            Ask me anything...
        </div>

    </div>

    <!-- Input -->
    <div class="input-area">

        <button id="voice-btn">
            🎤
        </button>

        <input
            id="user-input"
            type="text"
            placeholder="Message NovaCore..."
        >

        <button id="upload-btn">
            📎
        </button>

        <button
            id="send-btn"
            onclick="sendMessage()"
        >
            ➤
        </button>

    </div>

</div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>
